body {
    margin: 0px;
    padding: 0;
}

#wrapper {
    max-width: 500px;
    margin: 0px auto;
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 10px 10px;
    /* margin-bottom: 10px; */
    cursor: pointer;
    border: 1px solid beige;
}

.accordion-item.active .accordion-header {
    background: blue;
}

.arrow {
    transition: all 0.4;
}

.accordion-item.active .arrow {
    transform: rotate(180deg);
}

.accordion-body {
    padding: 10px 10px;
    display: none;
}